.enemy-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &__info,
  &__damage {
    width: 100%;
  }

  &__damage-form {
    margin: 0;
    padding-bottom: .5rem;
    max-width: 160px;
    width: 50%;
    background: none;

    &__health {
      margin: 0 0 0 1rem;
      padding: 0.5rem;
      width: 50%;
      border-radius: 3px;
      background-color: $brand-success;
      color: $white;
      text-align: center;
      line-height: 1.8;
    }
  }

  &__damage-form .form-group {
    margin: 0;
  }

  &__buffs {
    display: flex;

    .form-group {
      margin-right: 1rem;

      label {
        margin: 0;
        line-height: 1.6;
      }
    }
  }

  &__damage {
    display: flex;
    align-items: flex-start;
  }
}

.enemy {
  &__dragger {
    margin-top: 1rem;
    margin-right: 1rem;
    color: $gray-lighter;
  }
}

@include media-breakpoint-up(md) {
  .enemy-list {
    align-items: flex-end;
    flex-direction: row;
  }
}
