[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: rem(-9999px);
    opacity: 0;
}

[type="checkbox"] + label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    user-select: none;
    padding-left: rem(30px);
    height: rem(25px);
    line-height: rem(21px);
    font-weight: normal;
}

[type="checkbox"] + label:before,
[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: rem(18px);
    height: rem(18px);
    z-index: 0;
    border: 1px solid $gray-lighter;
    border-radius: rem(1px);
    margin-top: rem(2px);
    transition: .2s;
}

[type="checkbox"] + label:after {
    border: 0;
    transform: scale(0);
}

[type="checkbox"]:not(:checked):disabled + label:before {
    border: none;
    background-color: rgba($black, .26);
}

[type="checkbox"].tabbed:focus + label:after {
    transform: scale(1);
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba($black, .1);
    background-color: rgba($black, .1);
}

[type="checkbox"]:checked + label:before {
    top: rem(-4px);
    left: rem(-2px);
    width: rem(9px);
    height: rem(17px);
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid $form-toggle-color;
    border-bottom: 2px solid $form-toggle-color;
    transform: rotate(40deg);
    backface-visibility: hidden;
    transform-origin: 100% 100%;
}

[type="checkbox"]:checked:disabled + label:before {
    border-right: 2px solid rgba($black, .26);
    border-bottom: 2px solid rgba($black, .26);
}

/* Indeterminate checkbox */
[type="checkbox"]:indeterminate + label:before {
    top: rem(-11px);
    left: rem(-12px);
    width: rem(10px);
    height: rem(22px);
    border-top: none;
    border-left: none;
    border-right: 2px solid $form-toggle-color;
    border-bottom: none;
    transform: rotate(90deg);
    backface-visibility: hidden;
    transform-origin: 100% 100%;
}

[type="checkbox"]:indeterminate:disabled + label:before {
    border-right: 2px solid rgba($black, .26);
    background-color: transparent;
}
