.dice-group {
  flex: 1;
  margin-right: 5px;
}

.dice-roller {
    position: absolute;
    bottom: 0;
    left: -1px;
    z-index: 800;
    display: none;
    max-width: 400px;
    width: 100%;
    border: 1px solid $gray-lighter;
    transition: transform .22s ease-out;
    transform: translateY(100%);

    &--expanded {
      display: block;
      /* We need a height for transitions to work properly */
      transform: translateY(-49px);
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      width: 65px;
      cursor: pointer;

      &__title {
        margin: 0;
      }
    }

    &__body {
      position: relative;
      padding: 1rem;
      min-height: 190px;
      border-top: 1px solid rgba($black, .1);
      background-color: $white;

      .button--close {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }



    &__outcome {
      margin-bottom: 1rem;
      padding: .5rem 1rem;
      border-radius: 5px;
      background-color: rgba($black, .075);
      font-size: 1.75rem;

      user-select: none;
    }
}

.dice-group-list {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5px;
    width: 150px;

    &:last-child {
      margin: 0;
    }

    &:hover {
      height: 85px;
    }

    &:hover .dice-group {
      margin-top: 50px;
      width: 110px;
      opacity: 1;
    }

    button {
      padding: 10px;
      width: 100%;
    }
  }
}

.dice-group {
  position: absolute;
  z-index: 3;
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin-top: 0;
  width: 0px;
  opacity: 0;
  transition: all .15s ease-in-out;

  &__item {
    margin-left: 3px;
    padding: 8px !important;
    font-size: 11px !important;
  }
}

