.initiative {
    margin-bottom: 75px !important;
    padding-bottom: 75px !important;

    &__title-col.col {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
    }

    &__list {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;

        &__player {
            justify-content: space-between;
        }

        &__enemy-list {
            border-bottom: 1px solid $gray-lightest;

            &:last-child {
                border: 0;
            }
        }
    }
}

.initiative-ordering-modal {
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  max-width: 300px;
  list-style-type: none;

  &__item {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 7px 12px;
    border-bottom: 1px solid $gray-lightest;

    &__title {
      flex: 1;
    }

    &__form-control {
      max-width: 75px;
      text-align: center;
    }

    &__roll-button {
      display: block;
      width: 50px;
      text-align: center;
    }
  }
}
