.notes {
  display: flex;
  margin-right: -15px;
  // min-height: 100vh;
  height: 100%;
  border-left: 1px solid $gray-lighter;
  background-color: #eee;

  &__tabs {
    overflow-y: auto;
    flex: 0 0 30%;
    border-right: 1px solid $gray-lighter;
  }


  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem;

    &__form-group--full-height {
      flex: 1;
      max-height: 100%;
    }

    &__editor {
      display: flex;
      flex-direction: column;
      height: 85%;
    }
  }
}

.quillWrapper {
  .ql-toolbar {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .ql-container {
    height: calc(100vh - 200px);
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background-color: $white;
  }
}
